html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body, #__next {
  height: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.link {
  color: #7a7a7a;
  font-weight: 300;
  margin-top: 2rem;
}

.link.link-forget {
  margin-top: -15px;
  margin-bottom: 2rem;
  align-self: flex-end;
}

.link > span {
  color: #7a47f2;
  border-bottom: 2px solid currentColor;
}